<h1>New Comment</h1>
<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
    <p><%= error %></p>
    <% end %>
    <% end %>

<%= form_with model: @comment do |f| %>
	<%= f.label :description %><br />
	<%= f.text_field :description %><br />
	<%= f.submit %>
<% end %>