<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>



<h1>Profile page for <%= @user.email %></h1>

<h3> You're login in as user name <%= User.find(session[:user_id]).username %></h3>


<%= link_to "New post", new_user_post_path(@user) %>
<%= link_to "Log in!", login_path %>

<%= link_to "Log out!", logout_path, method: :delete %>
