<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>





<h1><%= User.find(session[:user_id]).username %></h1>

    <% @user.posts.each do |post| %>
    <p><%= link_to image_tag(post.image_url, width:320, height:320), post %></p>
    <% end %>


    <%= form_with url: posts_path do |f| %>
        New post:
        <ul>
          <%= f.fields_for :post do |posts_form| %>
            <li>
              <%= posts_form.label :title %>
              <%= posts_form.text_field :title %>
       
              <%= posts_form.label :image_url %>
              <%= posts_form.text_field :image_url %>

              <%= posts_form.collection_select(:tag_ids, Tag.all, :id, :name)%>

            <% end %>

            <%= f.fields_for :comment do |comment_form| %>
              <%= comment_form.label :description %>
              <%= comment_form.text_field :description %>
            <% end %>
              
          <%= f.submit "Save Post" %> 

            </li>
          
        </ul>
      <% end %>

<br>
<%= button_to "Explore Posts", posts_path, method: :get%>
<br>   
<%= button_to "Explore Tags", tags_path, method: :get%>
<br>
<%= button_to "Edit", edit_user_path, method: :get%>
<br>
<%= button_to "Log out!", logout_path, method: :delete %>
