<h1><%= @post.title%></h1>
<%= link_to image_tag(@post.image_url, width:480, height:270), @post%><br>
<% @post.tags.each do |tag|%>
<%= link_to tag.name, tag_path(@post.tags.name)%>
<% end %>


<%= form_with url: post_comments_path(@post) do |f| %>
    New comment:
    <ul>
      <%= f.fields_for :comment do |comments_form| %>
        <li>
          <%= comments_form.label :description %>
          <%= comments_form.text_field :description %>
      <% end %><br>

       <%= f.submit "Save Post" %> 

        </li>
    </ul>
<% end %>

<% @comments.each do |comment|%><br>
  <%= comment.description %>
<%end%>





