<h1><%= @post.title%></h1>
<%= link_to image_tag(@post.image_url, width:480, height:270), @post%><br>
<% @post.tags.each do |tag|%>
<%= link_to tag.name, tag_path(@post.tags.name)%>

<%= form_with model: @user do |f| %>
    New comment:
    <ul>
      <%= f.fields_for :comments do |comments_form| %>
        <li>
          <%= comments_form.label :Comment %>
          <%= comments_form.text_field :comment %>
          
        <%= f.submit "Save comment" %> 

        </li>
      <% end %>
    </ul>
  <% end %>
<%end%> 

<% @comments.each do |comment| %>
  <%= comment.description %>
  <% end %>