<h1><%= @post.title%></h1>
<%= image_tag(@post.image_url, width:480, height:270)%><br>
<% @post.tags.each do |tag|%>
<%= link_to tag.name, tag_path(@post.tags.name)%>

<%= form_with model: @user do |f| %>
    New comment:
    <ul>
      <%= f.fields_for :comments do |comments_form| %>
        <li>
          <%= comments_form.label :description %>
          <%= comments_form.text_field :description %>
          
        <%= comments_form.submit "Save Post" %> 

        </li>
      <% end %>
    </ul>
  <% end %>
<%end%> 
